In [1]:
import numpy as np
import pandas as pd 

df_train = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a','b','a','a','a','a'],
                                    'key2':['one', 'two', 'one', 'two', 'one','two','one','one','two','one'],
                                    'data1':np.random.randn(10),
                                    'data2':np.random.randn(10),
                                     'data3':[1,2,3,4,5,6,7,8,9,10],
                                     'data4':[1,2,np.nan,4,np.nan,6,np.nan,8,np.nan,10]
                                    })
df_train

  key1 key2     data1     data2  data3  data4
0    a  one -1.655747 -0.314107      1    1.0
1    a  two  0.755823  0.139826      2    2.0
2    b  one  0.105036 -0.356935      3    NaN
3    b  two -1.227355 -1.596636      4    4.0
4    a  one  1.061180 -0.126720      5    NaN
5    b  two -1.567191  0.934800      6    6.0
6    a  one  0.318875 -0.070344      7    NaN
7    a  one  0.633570  1.802084      8    8.0
8    a  two  1.134057  0.227163      9    NaN
9    a  one -0.504884 -1.059572     10   10.0

# count

In [3]:
df_train.count()           # 每个series个数

key1     10
key2     10
data1    10
data2    10
data3    10
data4     6
dtype: int64

In [4]:
df_train['key1'].count()  # 个数

10

# value_counts

In [17]:
df_train.value_counts()     #  'DataFrame' object has no attribute 'value_counts'

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [18]:
df_train['key1'].value_counts()

a    7
b    3
Name: key1, dtype: int64

# sort_values

In [7]:
df_train.sort_values(by='key1')  # 需要注明key1

  key1 key2     data1     data2  data3  data4
0    a  one -1.655747 -0.314107      1    1.0
1    a  two  0.755823  0.139826      2    2.0
4    a  one  1.061180 -0.126720      5    NaN
6    a  one  0.318875 -0.070344      7    NaN
7    a  one  0.633570  1.802084      8    8.0
8    a  two  1.134057  0.227163      9    NaN
9    a  one -0.504884 -1.059572     10   10.0
2    b  one  0.105036 -0.356935      3    NaN
3    b  two -1.227355 -1.596636      4    4.0
5    b  two -1.567191  0.934800      6    6.0

In [9]:
df_train['data2'].sort_values()

3   -1.596636
9   -1.059572
2   -0.356935
0   -0.314107
4   -0.126720
6   -0.070344
1    0.139826
8    0.227163
5    0.934800
7    1.802084
Name: data2, dtype: float64

# info

In [13]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
key1     10 non-null object
key2     10 non-null object
data1    10 non-null float64
data2    10 non-null float64
data3    10 non-null int64
data4    6 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 608.0+ bytes

In [14]:
df_train['key1'].info()  # 'Series' object has no attribute 'info'

AttributeError: 'Series' object has no attribute 'info'