In [15]:
import numpy as np
import pandas as pd 

df_train = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                                    'key2':['one', 'two', 'one', 'two', 'one'],
                                    'data1':np.random.randn(5),
                                    'data2':np.random.randn(5),
                                     'data3':[1,2,3,4,5]
                                    })
df_train

  key1 key2     data1     data2  data3
0    a  one -1.078850 -0.655138      1
1    a  two -0.111141  0.086023      2
2    b  one -0.359927  0.666737      3
3    b  two -0.246852 -0.826974      4
4    a  one -1.184818  1.414660      5

In [21]:
df_train['data3'].clip(2,4)

# 将超过最大值最小值的数转换为最大值最小值

0    2
1    2
2    3
3    4
4    4
Name: data3, dtype: int64

In [22]:
# np.clip
x=np.array([[1,2,3,5,6,7,8,9],[1,2,3,5,6,7,8,9]])
np.clip(x,3,8)

array([[3, 3, 3, 5, 6, 7, 8, 8],
       [3, 3, 3, 5, 6, 7, 8, 8]])