In [2]:
import numpy as np
import pandas as pd 

df_train = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a','b'],
                                    'key2':['one', 'one', 'one', 'two', 'two','one']
                                    })
df_train

  key1 key2
0    a  one
1    a  one
2    b  one
3    b  two
4    a  two
5    b  one

In [3]:
df_train['key1'].unique()   # 返回去除重复的行

array(['a', 'b'], dtype=object)

In [4]:
df_train['key1'].nunique() # unique()的行数

2

In [5]:
df_train.duplicated() # 查重，返回是否重复，若n个数据重复，则第一个为False，后n-1个为True

0    False
1     True
2    False
3    False
4    False
5     True
dtype: bool

In [ ]:
data.drop_duplicates(subset=['key1','key2'],keep='first',inplace=False)

### subset： 列名，可选，默认为None

### keep： {‘first’, ‘last’, False}, 默认值 ‘first’

##### ---first： 保留第一次出现的重复行，删除后面的重复行。
##### ---last： 删除重复项，除了最后一次出现。
##### ---False： 删除所有重复项。
### inplace：布尔值，默认为False，是否直接在原数据上删除重复项或删除重复项后返回副本

In [6]:
df_train.drop_duplicates()   # 去重，返回去重后的结果

  key1 key2
0    a  one
2    b  one
3    b  two
4    a  two